# Papers
resources/

# Raw datasets
data/

# All presentation utils, keep the whole completed presentations
presentations/*
!presentations/*.pdf

# Virtual environments
.venv/

# Utility files, TODOS, etc.
*.txt
!3rdparty/**/*.txt
*.md
!README.md
!ood_dataset/NOTICE.md
!3rdparty/**/*.md

.vscode/

__pycache__/

# Result csvs
results/

# Models
trained_models/

# LaTeX source code
latex/

# Submission
scripts/ 

# Not published, only for submission
SLOVAKBERT-MIT-LICENSE.txt