[submodule "review-scraper"]
	path = review-scraper
	url = git@github.com:Igor-Lacko/review-scraper.git
[submodule "review-synthesis"]
	path = review-synthesis
	url = git@github.com:Igor-Lacko/review-synthesis.git
