# Papers
resources/

# Raw datasets
data/

# All presentation utils, keep the whole completed presentations
presentations/*
!presentations/*.pdf

# Virtual environments
.venv/

# 3rdparty libs, probably won't be used
3rdparty/

# Utility figs
figures/

# Utility files, TODOS, etc.
*.txt
*.md
!./README.md