# Papers
resources/

# Raw datasets
data/

# All presentation utils, keep the whole completed presentationss
presentations/*
!presentations/*.pdf

# Virtual environments
.venv/

# 3rdparty libs, probably won't be used
3rdparty/
